<div class="container d-flex justify-content-between">
  <div class="col-4" id="email_list">
    <div class="card-header font-weight-bolder">
      Your mails
    </div>
    <ul class="list-group list-group-flush">
      <% @emails.sort.reverse.each do |e|%>
        <li class="list-group-item" id="<%= e.id%>"> <%= e.object%></li>
      <% end %>
    </ul>
  </div>
  <div class="col-8">
    <div class="card-header font-weight-bolder">
      Email detail
    </div>
    <li class="list-group-item text-secondary" >Select an email to view detail.</li>
    <%= button_to "Check mail", emails_path, title: "Click to recieve a new mail *^0^*", class: "btn btn-primary mt-5", remote: true %>
  </div>

</div>
